body {
  font-family: sans-serif;
}
.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
.logo {
  margin-right: 83px;
  margin-left: 30px;
}
.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Sansation-Regular', sans-serif;
  z-index: 1;
}
.navigation-item {
  margin-right: 50px;
}
.navigation-container {
  display: flex;
  height: 65px;
  align-items: center;
}
.navigation_link {
  color: white;
  text-decoration: none;
  z-index: 1;
}
.socials-padding {
  padding-right: 34px;
}
.socials {
  position: relative;
  z-index: 2;
  padding-right: 2px;
}
.logo_and_socials_opacity {
  z-index: 1;
}
.navigation_link:hover {
  transition: 0.7s ease-in-out;
  color: #127586;
}
.navigation_link:active {
  transition: 0.7s ease-in-out;
  color: white;
}
.slider-box {
  position: absolute;
  top: 0;
  width: 1000px;
  overflow: hidden;
}
.slider {
  position: relative;
  width: 10000px;
  height: 210px;
}
.slider img {
  float: left;
}
.slider-box .prev,
.slider-box .next {
  position: absolute;
  top: 265px;
  display: block;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.slider-box .prev {
  left: 20px;
  background: url(../img/navigation/arrow.png) no-repeat 0 0;
}
.slider-box .next {
  right: 20px;
  background: url(../img/navigation/arrow.png) no-repeat;
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gltext {
  position: relative;
  color: #ffffff;
  font-family: Sansation-Bold;
  text-transform: uppercase;
  margin-left: 25%;
  z-index: 2;
  margin-top: 12%;
}
.bottomtext {
  position: relative;
  width: 340px;
  color: #ffffff;
  font-family: Sansation-Regular;
  margin-left: 30%;
  z-index: 2;
  font-size: 12px;
  text-align: center;
  font-weight: 400;
}
.button-header {
  margin-left: 40%;
  font-family: Sansation-Regular;
  position: relative;
  z-index: 9999999;
  display: inline-block;
  width: 112px;
  font-weight: 400;
  padding: 8px;
  color: #fff;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
.button-header:hover,
.button-header:active {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}
.lines {
  z-index: 1;
  position: absolute;
  top: 70px;
}
.pen-block {
  position: absolute;
  top: 553px;
}
.pen-text {
  position: relative;
  z-index: 2;
  margin-top: 249px;
  margin-left: 559px;
  color: #252525;
  font-family: Sansation-Regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 20.11px;
  text-transform: uppercase;
}
.pen-text-lines {
  position: relative;
  z-index: 2;
  padding-left: 559px;
}
.text-pen-text {
  width: 396px;
  height: 154px;
  color: #000000;
  font-family: "MyriadPro-regular";
  font-size: 11px;
  font-weight: 400;
  line-height: 15.92px;
}
.button-pen {
  padding-top: 5px;
  font-size: 12px;
  background-color: #05a0af;
  margin-left: 559px;
  font-family: NEOTERIC-Bold;
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 161px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  height: 20px;
  border-radius: 5px;
}
.web-block {
  overflow: hidden;
  position: relative;
  margin-top: 87px;
}
.web-name {
  color: #f7f7f7;
  font-family: Sansation-Regular;
  font-size: 40px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  margin-top: -100px;
  text-align: center;
}
.block_comp {
  position: absolute;
  z-index: 2;
}
.web-block-text {
  width: 274px;
  height: 17px;
  color: #f7f7f7;
  font-family: Sansation-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}
.web-block-podtext {
  width: 299px;
  height: 49px;
  color: #f7f7f7;
  font-family: Sansation-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}
.button-web-block {
  padding-top: 5px;
  font-size: 12px;
  background-color: #05a0af;
  margin-left: 559px;
  font-family: Sansation-Regular;
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 161px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-decoration: none;
  height: 20px;
  border-radius: 5px;
}
.feedback-block {
  overflow: hidden;
  position: relative;
  margin-top: -4px;
}
#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
}
#slides {
  overflow: hidden;
  position: absolute;
  top: -350px;
  left: -150px;
}
#slides ul {
  list-style: none;
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
}
#slides li {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}
/* Styling for prev and next buttons */
.btn-bar {
  max-width: 346px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -200px;
  width: 50%;
  left: -350px;
}
#buttons {
  padding: 0 0 5px 0;
  float: right;
}
#buttons a {
  text-align: center;
  font-size: 30px;
  float: left;
  outline: 0;
  margin: 0 35px;
  color: #cdc8c8;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}
a#prev1:hover,
a#next1:hover {
  color: #cdc8c8;
  text-shadow: .5px 0px #b14943;
}
.quote-phrase {
  padding: 5px 20px;
  text-align: center;
  width: 222px;
}
.quote-phrase {
  font-size: 18px;
  color: #cdc8c8;
  text-shadow: .5px 0px #b14943;
  font-family: Sansation-Regular;
  font-weight: 400;
}
.quoteContainer {
  display: table;
}
.faces {
  position: absolute;
  display: flex;
  width: 700px;
  padding: 21px;
  z-index: 5;
  margin-top: -380px;
  margin-left: 90px;
}
.faces img {
  padding-left: 21px;
}
.faces-text {
  width: 10px;
  height: 9px;
  color: #272727;
  font-family: Sansation-Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
}
.clients {
  width: 1043px;
  position: absolute;
  height: 532px;
  z-index: 2;
  margin-top: -100px;
}
.clients h1 {
  width: 158px;
  height: 29px;
  color: #656464;
  font-family: 'Sansation-Bold';
  font-size: 40px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-left: 412px;
  margin-top: -85px;
}
.logo-brands {
  padding-left: 46px;
  margin-top: 100px;
}
#brand1 {
  padding-right: 89px;
}
#brand2 {
  padding-right: 87px;
}
#brand3 {
  padding-right: 72px;
}
#brand5 {
  padding-right: 130px;
  padding-top: 99px;
  padding-left: 6px;
}
#brand6 {
  padding-right: 151px;
}
#brand7 {
  padding-right: 156px;
}
.leave-contacts img {
  position: absolute;
  margin-top: 400px;
  width: 1008px;
  overflow: hidden;
}
.leave-contacts h1 {
  width: 352px;
  height: 28px;
  color: #ffffff;
  font-family: 'Sansation-Regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 27.3px;
  position: absolute;
  z-index: 3;
  margin-top: 427px;
  margin-left: 57px;
}
.leave-contacts h6 {
  width: 300px;
  height: 33px;
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Sansation-Regular';
  font-size: 12px;
  font-weight: 400;
  line-height: 20.87px;
  position: absolute;
  z-index: 3;
  margin-top: 481px;
  margin-left: 57px;
}
.leave-contacts input {
  position: absolute;
  z-index: 3;
  width: 203px;
  height: 45px;
  border: 1px solid #ffffff;
  background-color: #097e89;
  opacity: 0.5;
}
#input-lc-1 {
  margin-top: 463px;
  margin-left: 441px;
}
#input-lc-2 {
  margin-top: 463px;
  margin-left: 645px;
}
#input-lc-1::-webkit-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-1::-ms-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-1::-moz-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-1:-ms-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-1::placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-2::-webkit-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-2::-ms-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-2::-moz-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-2:-ms-input-placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
#input-lc-2::placeholder {
  padding-left: 22px;
  color: #ffffff;
  opacity: 0.7;
  font-family: 'Sansation-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 22.51px;
}
.leave-contacts button {
  position: absolute;
  z-index: 3;
  width: 100px;
  height: 49px;
  background-color: #ffffff;
  margin-left: 850px;
  margin-top: 463px;
  outline: none;
  border: 1px solid #ffffff;
}
#get-a-call {
  color: #097e89;
  font-family: "MyriadPro-Semibold";
  font-size: 12px;
  font-weight: 400;
  line-height: 22.51px;
}
.footer {
  background: url(../img/lines/gray_line.jpg);
  width: 1008px;
  height: 211px;
}
#footer-pos {
  position: relative;
  margin-top: 520px;
}
.footer h6 {
  width: 62px;
  height: 11px;
  color: #e5e5e5;
  font-family: "HelveticaLTStd-Bold";
  font-size: 15px;
  font-weight: 700;
  line-height: 24.27px;
  text-transform: uppercase;
  display: inline-block;
}
#pd-footer-1 {
  padding-right: 94px;
  padding-left: 41px;
}
#pd-footer-2 {
  padding-right: 107px;
}
#footer-line1 {
  position: relative;
  margin-bottom: -10px;
  margin-left: -400px;
}
#footer-line2 {
  position: relative;
  margin-bottom: -10px;
  margin-left: 125px;
}
#footer-line3 {
  position: relative;
  margin-bottom: -10px;
  margin-left: 140px;
}
.footer-a a {
  color: #ffffff;
  font-family: "HelveticaLTStdCondLight";
  font-size: 13px;
  font-weight: 400;
  line-height: 31.74px;
  display: flex;
  list-style-type: none;
  text-decoration: none;
}
.product-block {
  margin-left: 40px;
}
.learn-block {
  margin-left: 200px;
  margin-top: -125px;
}
.company-block {
  margin-top: -125px;
  margin-left: 370px;
}
.email-footer {
  position: absolute;
  margin-left: 694px;
  margin-top: -152px;
}
.email-footer input {
  width: 155px;
  height: 44px;
  background-color: #cccccc;
  border: 1px solid #ffffff;
}
.email-footer button {
  width: 105px;
  height: 47px;
  background-color: #0072bc;
  outline: none;
  margin-left: -5px;
  border: 1px solid #ffffff;
}
#email-input::-webkit-input-placeholder {
  color: #4f4e4e;
  font-family: "HelveticaLTStdCondLight";
  font-size: 15px;
  font-weight: 400;
  line-height: 24.27px;
  padding-left: 15px;
}
#email-input::-ms-input-placeholder {
  color: #4f4e4e;
  font-family: "HelveticaLTStdCondLight";
  font-size: 15px;
  font-weight: 400;
  line-height: 24.27px;
  padding-left: 15px;
}
#email-input::-moz-placeholder {
  color: #4f4e4e;
  font-family: "HelveticaLTStdCondLight";
  font-size: 15px;
  font-weight: 400;
  line-height: 24.27px;
  padding-left: 15px;
}
#email-input:-ms-input-placeholder {
  color: #4f4e4e;
  font-family: "HelveticaLTStdCondLight";
  font-size: 15px;
  font-weight: 400;
  line-height: 24.27px;
  padding-left: 15px;
}
#email-input::placeholder {
  color: #4f4e4e;
  font-family: "HelveticaLTStdCondLight";
  font-size: 15px;
  font-weight: 400;
  line-height: 24.27px;
  padding-left: 15px;
}
#button-sub {
  color: #ffffff;
  font-family: "HelveticaLTStdCondLight";
  font-size: 17px;
  font-weight: 400;
  line-height: 24.27px;
  text-align: center;
}
.socials-footer {
  position: absolute;
  margin-left: 694px;
  margin-top: -52px;
  padding-left: 8px;
}
