html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	box-sizing: border-box;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
  	border: 0;
  	outline: none;
}
html, body{
	width: 100%;
	height: 100vh;
}
a{
	text-decoration: none;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.container{
	width: 1220px;
	margin: 0 auto;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.container{
		width: 100%;
	}
}
.header-bg{
	background-image: url(../img/HomePage/bg/shutterstock_1343586053.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-color:black;
}
.logo{
   display: inline-block;
   text-align: center;
   vertical-align: top;
   float: left;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.logo{
		display: block;
		float: none;
	}
}
.logo h5{
	color: #ffffff;
	font-family: 'HelveticaBold';
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	padding-top: 20px;
}
nav ul li{
	list-style-type: none;	
}
nav ul li a{
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: -0.15px;
	padding-right: 40px;
}
@media screen and (max-width: 480px) {
	nav ul li a{
		padding-bottom: 20px;
		font-size: 20px;
		display: block;
		padding-right: 0;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	nav ul li a{
		padding-bottom: 20px;
		font-size: 25px;
		display: block;
		padding-right: 0;
	}
}

.navbar:first-child{
	padding-left: 205px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.navbar:first-child{
		padding-left: 0;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.navbar:first-child{
		padding-left: 100px;
	}
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.navbar{
		padding-top: 40px;
		text-align: center;
		display: block;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.navbar{
		padding-top: 40px;
		text-align: center;
	}
}
.header{
	width: 100%;
	padding-top: 25px;
	padding-bottom: 90px;
	white-space: nowrap;
}
.auth{
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 500;
	letter-spacing: -0.15px;
	float: right;
	margin-top: -18px;
}
@media screen and (max-width: 480px) {
	.auth{
		font-size: 20px;
		float: none;
		padding-top: 40px;
		text-align: center;
		display: block;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.auth{
		font-size: 25px;
		float: none;
		padding-top: 40px;
		text-align: center;
		display: block;
	}
}
.visually-impaired-icon{
	position: fixed;
	right: -83px;
	top: 15px;
}
.share-icon{
	position: absolute;
	right: 25px;
	top: 25px;
}
/*////////////////////////////////////////////////////navbar//////////////////////////////////////////////////////*/
.focus-block{
	width: 95%;
	text-align: center;
	margin: 0 auto;
}
.focus-block h1{
	color: #ffffff;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 300;
	text-transform: uppercase;
}
.focus-block h2{
	color: #ffffff;
	font-family: Roboto;
	font-size: 27px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0px 150px;
	margin-top: 20px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.focus-block h2{
		padding: 0;
	}
}
.buttons-focus-block{
    display: block;
	text-align: center;
	padding-top: 80px;
	padding-bottom: 115px;
	margin: 0 auto;
}
#learn-more{
	width: 23%;
	height: 47px;
	margin-right: 30px;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.18px;
	border-radius: 6px;
	background-color: #000000;
	background-image: linear-gradient(to bottom, #7e96fc 0%, #2e49bc 100%);
}
@media screen and (min-width:1px) and (max-width: 768px) {
	#learn-more{
		width: 35%;
	}
}
#watch-video{
	width: 23%;
	height: 47px;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.18px;
	border-radius: 6px;
	border: 2px solid #ffffff;
	background-color: rgba(255, 255, 255, 0);
}
@media screen and (min-width:1px) and (max-width: 768px) {
	#watch-video{
		width: 40%;
		white-space: nowrap;
	}
}
#watch-video:hover{
	transition: 0.2s ease-in-out;
	background-color: #ffffff;
	color: black;
}
.slider-navigation{
	display: block;
	padding-bottom: 30px;
}
.slider-navigation img{
	padding-right: 15px;
}
/*//////////////////////////////////////////////////////////focus-block-end and header-end//////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////acessability////////////////////////////////////////////////////////*/
.acessability-bg{
	display: none;
	position: fixed;
	top: 15px;
	right: 0;
	background-color: #ffffff;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.38);
	border-radius: 6px;
}
.exit{
	position: absolute;
	left: 25px;
	top: 25px;
}
.acessability-container{
	width: 460px;
	padding: 0px 30px;
}
.acessability-name{
	padding-top: 50px;
	padding-bottom: 40px;
	color: #2b2b33;
	font-family: 'Roboto';
	font-size: 19px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 10.69px;
}
.acessability-img-and-text img{
	padding-left: 15px;
}
.acessability-text{
	padding-top: 5px;
	margin: 0 auto;
	color: #1e2b47;
	font-family: 'Roboto';
	font-size: 13px;
	font-weight: 500;
	letter-spacing: -0.24px;
}
/*////////////////////////////////////////////////////////////////universal-text/////////////////////////////////////////////////*/
.universal-font-name{
	color: #0e2d2e;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 33px;
	font-weight: 500;
	letter-spacing: -0.15px;
}
.universal-font-text{
	font-size: 29px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Roboto";
	letter-spacing: -0.17px;
}
/*//////////////////////////////////////////////////////////market-house//////////////////////////////////////////////*/
.market-house-bg{
	background-color: #ffffff;
}
.container-market-house{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
	text-align: center;
}
.container-market-house-text-and-name{
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	margin: 0 auto;
}
.container-market-house-text-and-name h4{
	padding-bottom: 30px;
}
.scroll-down-arrow{
	padding-bottom: 45px;
}
.template-house{
	position: relative;
	display: inline-block;
	width: 515px;
	max-width: 100%;
	height: auto;
	border: 1px solid #B2B2B2;
	border-radius: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.template-house{
		margin-bottom: 400px;
		width: 320px;
	}
}
@media screen and (min-width:1800px) and (max-width: 2000px) {
	.template-house{
		margin-bottom: 80px;
		margin-right: 80px;
	}
}
@media screen and (min-width:1201px) and (max-width: 2000px) {
	.template-house:last-child{
		margin-right: 0px;
	}
}
@media screen and (min-width:1201px) and (max-width: 2000px) {
	.template-house-block-of-text{
		text-align: left;
	}
}
.template-house-name{
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Roboto";
	letter-spacing: -0.17px;
	padding-bottom: 15px;
	padding-top: 15px;
}
.template-house-adress{
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Roboto";
	letter-spacing: -0.17px;
	padding-bottom: 20px;
}
.template-house-text{
	color: #717F7F;	
	font-size: 16px;
	font-weight: 300;
	font-family: "HelveticaRegular";
	letter-spacing: -0.17px;
	padding-bottom: 10px;
}
.template-house-img img{
	max-width: 100%;
	height: auto;
}
.template-house-img{
	position: relative;
}
.shares-for-sale{
	color: #ffffff;
	position: absolute;
	left: -10px;
	top: 20px;
	font-family: 'KermelMedium';
	font-size: 30px;
	background-color: #2B2B33;
	border:1px solid #464649;
	border-radius: 3px;
}
.shares-for-sale:after{
	content: "4000 sold";
	color: #5A89FF;
	
}
.price-one-day{
	width: 320px;
	position: absolute;
	left: 20px;
	bottom:-250px;
	background-color: #2B2B33;
	border-radius: 3px;
	padding: 20px 10px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.price-one-day{
		bottom: -650px;
		left: -20px;
		width: 320px;
	}
}
.price-list{
	margin-right: 25px;
	width: 55px;
}
.price-name{
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Roboto";
	letter-spacing: -0.17px;
	padding-bottom: 15px;
	text-align: center;
}
.a-b-c-d{
	color: #4F7BFF;	
	font-size: 40px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	font-family: "Roboto";
	box-shadow: 0px 10px -14px 14px #FFF;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.a-b-c-d{
		font-size: 30px;
	}
}
.price-gray-font{
	color: #A7A7A7;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Roboto";
	letter-spacing: -0.17px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
.price{
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	font-family: "Roboto";
	letter-spacing: -0.17px;
}
.total-price{
	color: #4F7BFF;	
	font-size: 30px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Roboto';
	margin-top: -10px;
	margin-bottom: -10px;
}
.total-price hr{
	border: none; 
    color: #4D4D53;
    background-color: #4D4D53;
    height: 2px;
}
.house-inf{
	float: right;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.house-inf{
		float: none;
		text-align: center;
	}
}
.inf-name{
	color: #728080;
	font-weight: 400;
	font-size: 15px;
	font-family: 'Roboto';
	letter-spacing: -0.25px;
}
@media screen and (min-width:1201px) and (max-width: 2000px) {
	.inf-name{
		text-align: left;
	}
}
.inf-text{
	color: black;
	font-weight: 800;
	font-size: 15px;
	font-family: 'Roboto';
	letter-spacing: -0.17px;
	padding-bottom: 10px;
}
@media screen and (min-width:1201px) and (max-width: 2000px) {
	.inf-text{
		text-align: left;
	}
}
.inf-text:last-child{
	padding-bottom: 40px;
}
.learn-more-button button{
	color: #ffffff;
	width: 100px;
	height: 40px;
	font-family: 'Arial';
	font-size: 16px;
	border-radius: 3px;
	background-color: #2F7DBE;
	border: 1px solid #47B0D8;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: left;
}
@media screen and (min-width:1201px) and (max-width: 2000px) {
	.learn-more-button button{
		text-align: left;
	}
}
.est-e-d{
	margin-right: -20px;
}
/*////////////////////////////////////////////////////////////////video-block/////////////////////////////////////////////////*/
.white-font{
	color: #ffffff;
}
.video-block-bg{
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34), inset 1px 1px 0 #545454;
	border-radius: 3px;
	background: linear-gradient(to bottom, #2B2B33 65%,  white 50%);
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.video-block-bg{
		background: linear-gradient(to bottom, #2B2B33 65%,  #2B2B34 50%);
	}
}
.video-block-of-text{
	text-align: center;
	padding: 70px 0px;
}
.video-block{
	position: relative;
	text-align: center;
	padding-bottom: 100px;
}
.video-block img{
	max-width: 100%;
	height: auto;
}
.play-button{
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
/*////////////////////////////////////////////////////////contact-our-support////////////////////////////////////////////////////////*/
.contact-our-support-bg{
	background-image: url(../img/support/support-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.support-contacts{
	padding-left: 140px;
	padding-right: 120px;
	padding-bottom: 115px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.support-contacts{
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}
.investor{
	padding-right: 260px;	
}
@media screen and (max-width: 480px) {
	.investor{
		max-width: 320px;
		padding-right: 0;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.investor{
		text-align: center;
		padding-right: 20px;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.developer{
		text-align: center;
	}
}
.support-block-of-text{
	text-align: center;
	padding-top: 85px;
	padding-bottom: 130px;
}
.support-text{
	max-width: 395px;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	padding: 30px 0px;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.support-text{
		max-width: 100%;
	}
}
.support-contacts1{
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 700;
	padding-bottom: 35px;
}
/*//////////////////////////////////////////////////top-articles/////////////////////////////////////////////////////////////*/
.top-articles-bg{
	background-color: #f6f6f6;
}
.container-top-articles{
	width: 1400px;
	margin: 0 auto;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.container-top-articles{
		width: 100%;
		text-align: center;
	}
}
.black-font{
	padding-top: 20px;
	padding-bottom: 0;
	color: black;
}
.top-articles-name{
	padding-top: 60px;
	padding-bottom: 45px;
	text-align: center;
}
.articles-block{
	position: relative;
	max-width: 290px;
	display: inline-block;
	border:1px solid #B2B2B2;
	background-color: #ffffff;
	border-radius: 3px;
	padding: 20px 20px;
	margin-right: 50px;
	margin-bottom: 50px;
}
.articles-block:last-child{
	margin-right: 0px;
}
.articles-block:nth-child(4n){
	margin-right: 0px;
}
.articles-block:nth-child(8n){
	margin-right: 0px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.articles-block{
		margin-right: 0;
	}
}
.articles-block img{
	max-width: 245px;
	max-height: 140px;
	height: auto;
}
.article-name{
	color: #0e2d2e;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.15px;
}
.article-date{
	color: #0e2d2e;
	font-family: 'Roboto';
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.15px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.articles-blocks button{
	width: 270px;
	height: 50px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.34), inset 1px 1px 0 #545454;
	border-radius: 6px;
	background-color: #2b2b33;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.23px;
	margin: 0 auto;
}
.see-all-articles{
	text-align: center;
	padding-bottom: 60px;
}
/*///////////////////////////////////////////footer////////////////////////////////////////////////////////////////*/
footer{
	background-color: #2b2b33;
}
.d-block{
	display: block;
}
.social-icons{
	padding-top: 55px;
	padding-bottom: 70px;
	text-align: center;
}
.social-icons img{
	padding-right: 50px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.social-icons img{
		padding-right: 20px;
	}
}
.footer-menu > *{
	display: inline-block;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.footer-menu > *{
		width: 100%;
		display: block;
		text-align: center;
	}
}
.footer-name{
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.82px;
	padding-bottom: 40px;
}
.footer-columns-text a{
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 400;
	letter-spacing: -0.45px;
}
.footer-columns-text p{
	margin-bottom: 25px;
}
.market-listing,.company,.support-footer{
	display:inline-block;
	vertical-align:top;
}
.market-listing{
	margin-right: 95px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.market-listing{
		margin-right: 0;
	}
}
.company{
	margin-right: 120px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.company{
		margin-right: 0;
	}
}
.support-footer{
	margin-right: 135px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.support-footer{
		margin-right: 0;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.support-footer{
		margin-right: 35px;
	}
}
.featured{
	margin-right: 110px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.featured{
		margin-right: 0;
	}
}
.contact-footer img{
	margin-right: 15px;
}
.logo-footer{
   text-align: center;
   vertical-align: top;
}
.logo-footer h5{
	color: #ffffff;
	font-family: 'HelveticaBold';
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.35px;
	padding-top: 20px;
}
.footnote{
	color: #838383;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 400;
	letter-spacing: -0.48px;
	padding-top: 20px;
	padding-bottom: 20px;
}