@font-face {
font-family: 'Nexa Bold';
src: url('Nexa-XBold.eot');
src: url('Nexa-XBold.eot?#iefix') format('embedded-opentype'),
url('Nexa-XBold.woff') format('woff'),
url('Nexa-XBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}