@font-face {
font-family: 'ArialR';
src: url('ArialMT.eot');
src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
url('ArialMT.woff') format('woff'),
url('ArialMT.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}