@font-face {
  font-family: 'HelveticaLTStd-LightCond';
  src: url('HelveticaLTStd-LightCond.ttf');
  src: url('HelveticaLTStd-LightCond.ttf') format('truetype'), 
  font-weight: normal;
  font-style: normal;
}