body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
a{
	color: #ffffff;
}
.container{
	width: 1180px;
	position: relative;
	margin: auto auto;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.container {
		width: 100%;
	}
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*//////////////////////////////////////////////////////////////header+focus-block////////////////////////////////////////////*/
.nvpbg{
	background-image: url(../img/bg/fon.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
#logo{
	position: relative;
	color: #f5f5f5;
	font-family: 'Open Sans';
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	border: 10px solid #11749e;
	background-color: #11749e;
	float: left;
	margin-top: -40px;
}
@media screen and (max-width: 480px) {
	#logo {
		display: none;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	#logo {
		display: none;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	#logo {
		display: none;
	}
}
#white-cube{
	position: absolute;
	border:30px solid #ffffff;
	left: 0px;
	top: 0px;
	overflow: hidden;
	opacity: 0.75;
	z-index: 1;
}
nav{
	padding-top: 76px;
	float: right;
	margin-right: 100px;
	white-space: nowrap;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	nav {
		float: none;
		margin-right: 0;
		white-space: normal;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	nav {
		float: none;
		margin-right: 0;
	}
}
.menu{
	margin-bottom: 40px;
}
.menu ul{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	list-style: none;
	margin-top: 0;	
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.menu ul{
		display: block;
		width: 100%;
		text-align: center;
		padding-left: 0;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.menu ul{
		text-align: center;
	}
}
.menu li{
	margin-left: 50px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.menu li{
		margin-left: 0;
		padding-bottom: 25px;
	}
}
.menu a{
	color: #ffffff;
	font-family: "MyriadPro-regular";
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.menu a{
		font-size: 30px;
		}
	}
.menu li{
	transition: 0.4s ease-in-out;
	padding-bottom: 0px;
}
.menu li:hover{
	transition: 0.2s ease-in-out;
	padding-bottom: 45px;
	border-bottom: 6px solid #11749e;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.menu li:hover{
		padding-bottom: 0;
		border-bottom: 0;
	}
}
.menu li:first-child{
	margin-left: 100px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.menu li:first-child{
		margin-left: 0px;
		}
	}
.social-icons{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 5px;
}
.social-icons img{
	margin-left: 25px;
	max-height: 18px;
	resize: none;
}
.social-icons img:first-child{
	margin-left: 55px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.social-icons{
		display: none;
		}
	}
.focus-block{
	text-align: center;
}
.focus-block h1{
	color: #f5f5f5;
	font-family: GothamBold;
	font-size: 153px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: -1.92px;
	margin-bottom: 36px;
}
@media screen and (max-width: 480px) {
	.focus-block h1{
		font-size: 50px;
		}
	}
@media screen and (min-width:481px) and (max-width: 768px) {
	.focus-block h1{
		font-size: 80px;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.focus-block h1{
		font-size: 120px;
	}
}
.focus-block h5{
	margin-top: 0;
	padding-bottom: 120px;
	color: #11749e;
	font-family: GothamMedium;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 7.88px;
}
@media screen and (max-width: 480px) {
.focus-block h5{
	font-size: 20px;
	}
}
.scroll-down-name{
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
	line-height: 22px;
	margin-bottom: 25px;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.scroll-down-name{
		font-size: 18px;
	}
}
@media screen and (min-width:769px) and (max-width: 1201px) {
	.scroll-down-name{
		font-size: 24px;
	}
}
.arrow-bottom i{
	border-radius: 65px;
	padding:25px;
	border:2px solid #ffffff;
	margin-bottom: 80px;
}
/*///////////////////////////////////////////////////////features////////////////////////////////////////////////////////*/

.features-bg{
	width: 100%;
	height: 100%;
	background-color: #11749e;
}
.features h4{
	position: relative;
	color: #ffffff;
	font-family: GothamMedium;
	font-size: 38px;
	font-weight: 500;
	line-height: 45.06px;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 170px;
	text-align: center;
	margin-bottom: 145px;	
}
.features h4::after{
	content: "W";
	position: absolute;
	opacity: 0.18;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	margin: auto;
	left: 0;
	right: 0;
	top: 10vh;
	bottom: 0;
}
.features-blocks{
	width: 300px;
	height: 270px;
	padding-left: 50px;
	padding-bottom: 130px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.features-blocks{
		padding-left: 0;
		margin: auto;
		}
	}
@media screen and (min-width:769px) and (max-width: 992px) {
	.features-blocks{
		width: 350px;
		padding-bottom: 230px;
		}
	}
.features-blocks:first-child{
	padding-left: 0px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.features-blocks:first-child{
		padding-left: 0;
		}
	}
.feat-img{
	text-align: center;	
}

.feat-img img{
	padding: 35px;
	background-color: #2e85aa;
	border-radius: 40px; 
}

.feat-name{
	color: #ffffff;
	font-family: 'GothamMedium';
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 33px;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.feat-name{
		width: 300px;
		font-size: 25px;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.feat-name{
		width: 350px;
		font-size: 30px;
	}
}
.feat-text{
	width: 260px;
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 100;
	text-align: center;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.feat-text{
		width: 300px;
		font-size: 18px;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.feat-text{
		width: 350px;
		font-size: 25px;
	}
}
/*///////////////////////////////////////////////////////d-flex-class///////////////////////////////////////////////////////*/
.d-flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.d-flex{
		display: block;
	}
}
/*///////////////////////////////////////////////////////jobs-block////////////////////////////////////////////////////////*/
.jobs-bg{
	background-color: #222222;
	margin-bottom: -5px;
}
.gray-bg{
	background-color: #f3f3f3;
}
.jobs-bg{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.jobs-bg{
		display: block;
	}
}
.jobs-info{
	width: 50%;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.jobs-info{
		width: 100%;
	}
}
.jobs-info > *{
	text-align: center;
}
.jobs-photo img{
	max-width:95%;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.jobs-photo img{
		max-width:100%;
		width: 100%;
		padding-bottom: 20px;
	}
}
.j-date-and-theme{
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 13px;
	font-weight: 400;
	padding-top: 100px;
	margin-bottom: 20px;
}
@media screen and (min-width:769px) and (max-width: 1201px) {
	.j-date-and-theme{
		font-size: 18px;
	}
}

.j-name{
	color: #ffffff;
	font-family: GothamBold;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 45px;
}
@media screen and (min-width:769px) and (max-width: 1201px) {
	.j-name{
		font-size: 35px;
	}
}
.j-text{
	margin: auto;
	width: 470px;
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
	padding-bottom: 110px;
}
@media screen and (max-width: 480px) {
	.j-text{
		width: 100%;
	}
}
@media screen and (min-width:769px) and (max-width: 1201px) {
	.j-text{
		width: 600px;
		font-size: 25px;
	}
}
.black-font{
	color: #222222;
}
/*/////////////////////////////////////////////////////blog////////////////////////////////////////////////////////////*/
.blog-bg{
	background-color: #ffffff;
}
.blog{
	margin-bottom: 110px;
}
.blog h4{
	color: #222222;
	font-family: GothamMedium;
	font-size: 38px;
	font-weight: 500;
	line-height: 45.06px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 170px;
	margin-bottom: 115px;
}
.blog h4::after{
	content: "B";
	position: absolute;
	opacity: 0.18;
	color: #222222;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	margin: auto;
	left: 0;
	right: 0;
	top: -10vh;
	bottom: 0;
}
.blog-post{
	width: 270px;
	padding-right: 30px;
	padding-bottom: 40px;
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.blog-post img{
		max-width:100%;
    	height:500px;
		margin: auto;
	}
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.blog-post{
		padding-right: 0;
		margin: auto;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.blog-post{
		width: 500px;
	}
}
.blog-post:last-child{
	padding-right: 0;
}
.blog-post-name{
	color: #11749e;
	font-family: GothamMedium;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	margin-top: 45px;
	margin-bottom: 25px;
	text-align: center;
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.blog-post-name{
		font-size: 25px;
	}
}
.blog-post-text{
	color: #222222;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.blog-post-text{
		font-size: 20px;
	}
}
/*///////////////////////////////////////////////////////////edit///////////////////////////////////////*/
.edit{
	padding-top: 150px;
	margin-bottom: 155px;
	margin-right: 65px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.edit{
		text-align: center;
		width: 100%;
		margin-right: 0;
		margin-bottom: 0px;
		padding-bottom: 100px;
	}
}
.edit:last-child{
	margin-right: 65px;
}
.edit img{
	padding-top: 25px;
	margin-right: 35px;
	width: 70px;
	height: 70px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.edit img{
		margin-right: 0;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.edit img{
		margin-bottom: 40px;	
	}
}
@media screen and (min-width:993px) and (max-width: 1201px) {
	.edit img{
		margin-right: 10px;
		margin-left: 10px;	
	}
}
.edit-text{
	width: 450px;
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
}

@media screen and (min-width:1px) and (max-width: 992px) {
	.edit-text{
		width: 100%;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.edit-text{
		font-size: 25px;
	}
}

/*/////////////////////////////////////////////////////////phone block//////////////////////////////////////////*/
.phone-bg{
	background-image: url(../img/phone/bg_phone.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.phone-block{
	margin-right: 225px;
	margin-top: 210px;
}

@media screen and (min-width:1px) and (max-width: 992px) {
	.phone-block{
		text-align: center;
		padding-top: 100px;
		margin-right:0px;
		margin-top: 0px;
	}
}
@media screen and (min-width:993px) and (max-width: 1201px) {
	.phone-block{
		margin-right:180px;
		margin-left: 45px;
	}
}
.phone{
	padding-top: 125px;
	padding-bottom: 95px;
}
@media screen and (max-width: 480px) {
	.phone img{
		margin:auto;
		vertical-align: middle;
		text-align: center;
		max-width: 100%;
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
}
@media screen and (min-width:481px) and (max-width: 1201px) {
	.phone{
		margin:auto;
		vertical-align: middle;
		text-align: center;
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
.phone-name{
	color: #ffffff;
	font-family: GothamMedium;
	font-size: 25px;
	font-weight: 500;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	.phone-name{
		text-align: center;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.phone-name{
		font-size: 30px;
	}
}
.phone-text{
	width: 470px;
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 70px;
}
@media screen and (max-width: 480px) {
	.phone-text{
		width: 100%;
		text-align: center;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.phone-text{
		margin: auto;
		margin-top: 40px;
		margin-bottom: 70px;
		width: 100%;
		text-align: center;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.phone-text{
		font-size: 25px;
	}
}
.merits{
	width: 370px;
	color: #ffffff;
	font-family: GothamMedium;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #11749e;
	padding: 15px 20px;
	margin-bottom: 25px;
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.merits{
		font-size: 25px;
	}
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.merits{
		font-size: 20px;
		margin: auto;
		margin-bottom: 25px;
		width: 80%;
		text-align: center;
	}
}
/*////////////////////////////////////////////////////////////////our team////////////////////////////////////////////////////*/
.our-team{
	margin-bottom: 125px;
}
.our-team h4{
	color: #222222;
	font-family: GothamMedium;
	font-size: 38px;
	font-weight: 500;
	line-height: 45.06px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 140px;
	margin-bottom: 140px;
}
.our-team h4::after{
	content: "T";
	position: absolute;
	opacity: 0.18;
	color: #222222;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	margin: auto;
	left: 0;
	right: 0;
	top: -10vh;
	bottom: 0;
}
.description-team{
	color: #222222;
	font-family: "GothamBook";
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 70px;
}
.team-humans > *{
	margin-right: 30px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.team-humans > *{
		margin-right: 0px;
		padding-bottom: 50px;
	}
}

.team-humans > *:last-child{
	margin-right: 0px;
}
.team-human img{
	position: relative;
}
@media screen and (min-width:993px) and (max-width: 1201px) {
	.team-human img{
		max-width:100%;
    	height:400px;
		margin: auto;
	}
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.team-human{
		text-align: center;
	}
}
.team-human-name{
	bottom: 0;
	margin: auto;
	color: #11749e;
	font-family: GothamMedium;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 25px;
	text-align: center;
}
.team-human-speciality{
	color: #000000;
	font-family: GothamMedium;
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.brd-name-and-spec{
	position: absolute;
	background-color: #ffffff;
	width: 215px;
	margin-left: 3vh;
	margin-top: -60px;
	border: 1px solid #ffffff;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.brd-name-and-spec{
		margin-left: 15vh;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.brd-name-and-spec{
		margin-left: 27vh;
	}
}
@media screen and (min-width:481px) and (max-width: 1201px) {
	.brd-name-and-spec{
		margin-left: 2vh;
		margin-top: -60px;
		border: 1px solid #ffffff;
	}
}
/*///////////////////////////////////////////////////////////////////////footer///////////////////////////////////////////////*/
.footer-bg{
	background-image: url(../img/bg/footer-bg.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.footer h4{
	position: relative;
	color: #ffffff;
	font-family: GothamMedium;
	font-size: 38px;
	font-weight: 500;
	line-height: 45.06px;
	text-transform: uppercase;
	margin-top: 0;
	padding-top: 170px;
	text-align: center;
	padding-bottom: 145px;	
}
.footer h4::after{
	content: "C";
	position: absolute;
	opacity: 0.18;
	color: #ffffff;
	font-family: "Roboto";
	font-size: 247px;
	font-weight: 700;
	line-height: 210.64px;
	text-transform: uppercase;
	margin: auto;
	left: 0;
	right: 0;
	top: 10vh;
	bottom: 0;
}
.txta-footer{
	width: 95%;
	height: 150px;
	margin-right: 30px;
	background: transparent !important;
	border: 1px solid white;
	padding-left: 30px;
	padding-top: 20px;
	margin-bottom: 45px;	
	resize: none;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.txta-footer{
		width: 80%;
	}
}
.txta-footer::placeholder{
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;	
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.txta-footer::placeholder{
		font-size: 25px;
	}
}
.inputs-footer > *{
	width: 30%;
	height: 50px;
	margin-right: 30px;
	background: transparent !important;
	border: 1px solid white;
	padding-left: 25px;
	margin-bottom: 40px;
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.inputs-footer > *{
		width: 25%;
		margin: auto;
		margin-bottom: 40px;
	}
}
.inputs-footer input::placeholder{
	color: #ffffff;
	font-family: "GothamBook";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.3px;
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.inputs-footer input::placeholder{
		font-size: 25px;
	}
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.inputs-footer{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}
.footer button{
	width: 225px;
	height: 65px;
	background-color: #11749e;
	color: #ffffff;
	font-family: GothamMedium;
	font-size: 24px;
	font-weight: 500;
	line-height: 24px;
	text-transform: uppercase;
	text-align: center;
	outline: none;
	box-shadow: 0 0 0 rgba(232, 232, 232, 0.11);
	border: 1px solid rgba(221, 221, 221, 0.15);
	margin-bottom: 170px;
}
.txta-and-button-footer{
	text-align: center;
}
.copyright{
	color: #ffffff;
	font-family: Roboto;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 0.26px;
	padding-top: 55px;
	padding-bottom: 55px;
}
.map{
	overflow: hidden;
	width: 100%;
	margin-bottom: -5px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.map{
		max-width: 100%;
	}
}
.copyright-license{
	float: left;
}
.copyright-design{
	float: right;
}