@font-face {
font-family: 'Myriad-Pro-Italic';
src: url('MyriadPro-It.eot');
src: url('MyriadPro-It.eot?#iefix') format('embedded-opentype'),
url('MyriadPro-It.woff') format('woff'),
url('MyriadPro-It.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}