@font-face {
font-family: 'Myriad-Pro-Regular';
src: url('MyriadPro-Regular.eot');
src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
url('MyriadPro-Regular.woff') format('woff'),
url('MyriadPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}