body, html{
	padding: 0;
	margin: 0;
}
*{
	font-family: "Montserrat";
}
li, a{
	color: #ffffff;
	list-style-type: none;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
nav{
	box-sizing: border-box;
}
a:hover{
	color: #f9f9f9;
	list-style-type: none;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
}
header, section, footer{
	background-color: #191919;
	overflow: hidden;
}
input[type=range] {
  -webkit-appearance: none;
  width: 10%;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 10%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*////////////////////////////////////////////////////////head-screen///////////////////////////////////////////////////////////////*/
.container{
	width: 1370px;
	margin: 0 auto;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.container {
		width: 100%;
	}
}
header{
	padding-top: 30px;
	width: 100%;
}
header nav{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 10px;
	position: relative;
	z-index: 5;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	header nav{
		position: relative;
		display: block;
	}
}
header nav ul li{
	display: inline-block;
	margin-right: 30px;
	max-width: 445px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	header nav ul{
		padding: 0;
	}
}
@media screen and (min-width:1px) and (max-width: 768px) {
	header nav ul li{
		display: block;
		text-align: center;
		margin-right: 0;
		padding-bottom: 10px;	
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	header nav ul li{
		margin: 0 auto;
	}
}
header nav ul li a{
	transition: 0.2s ease;
	color: #f9f9f9;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: -0.95px;
}
@media screen and (min-width:481px) and (max-width: 768px) {
	header nav ul li a{
		font-size: 25px;
	}
}
header nav ul li a:hover{
	transition: 0.2s ease;
	border-bottom: 2px solid #f9f9f9;
}
.hamburger-menu{
	display: none;
	color: #ffffff;
	padding: 5px 10px;
	border: 3px solid #ffffff;
	border-radius: 10px;
}
@media screen and (max-width: 480px) {
	.hamburger-menu{
		max-width: 40px;
		max-height: 40px;
		margin-top: 30px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.hamburger-menu{
		max-width: 50px;
		max-height: 55px;
		font-size: 30px;
		margin-top: 30px;
		margin-bottom: 20px;
		margin-right: auto;
		margin-left: auto;
	}
}
.hide{
	opacity: 0;
	display: none;
}
.show{
	transition: 1s ease-in-out;
	display: block;
}
.animate-hamburger{
	animation-duration: 1s;
	animation-name: animate-hamburger;
}
@keyframes animate-hamburger{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.logo > *{
	color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: -0.05px;
	line-height: 14px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.logo{
		text-align: center;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.logo > span{
		font-size: 40px;
	}
}
.logo i{
	padding-right: 10px;
}
.photo-and-desc-head-screen{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.photo-and-desc-head-screen{
		display: block;
	}
}
#logo-bg{
	position: absolute;
	z-index: 1;
	max-width: 700px;
	height: auto;
	padding-top: 10px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.11;
}
@media screen and (max-width: 480px) {
	#logo-bg{
		max-width: 350px;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	#logo-bg{
		max-width: 550px;
	}
}
.photo-block img{
	max-width: 600px;
	height: auto;
	margin-right: -250px;
	position: relative;
	z-index: 2;
}
@media screen and (min-width:768px) and (max-width: 992px) {
	.photo-block {
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	.photo-block img{
		padding-top: 30px;
		max-width: 300px;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.photo-block img{
		padding-top: 30px;
		max-width: 500px;
	}
}
.description-block{
	padding-top: 100px;
	padding-right: 250px;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.description-block{
		padding-top: 40px;
		padding-right: 0;
	}
}
@media screen and (min-width:993px) and (max-width: 1201px) {
	.description-block{
		padding-right: 0;
	}
}
.heading{
	color: #ffffff;
	font-size: 65px;
	font-weight: 900;
	line-height: 87.92px;
	text-transform: uppercase;
	letter-spacing: 3.02px;
	position: relative;
	z-index: 3;
	white-space: nowrap;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.heading{
		text-align: center;
	}
}
@media screen and (max-width: 480px) {
	.heading{
		font-size: 30px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.heading{
		font-size: 60px;
	}
}
.heading::after{
	position: absolute;
	z-index: -2;
	content: "ALAN WALKER";
	color: #0271fa;
	margin-left: -99%;
	white-space: nowrap;
	height: 50%;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.heading::after{
		margin-left: -86%;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.heading::after{
		margin-left: -62%;
	}
}
.heading::before{
	position: absolute;
	z-index: -1;
	content: "ALAN WALKER";
	color: #fc0000;
	margin-left: 1%;
	white-space: nowrap;
	height: 50%;
	overflow: hidden;
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.description-block {
		text-align: center;
	}
}
.description-block p{
	padding-top: 9vh;
	padding-bottom: 8vh;
	max-width: 500px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
@media screen and (max-width: 480px) {
	.description-block p{
		padding-top: 1vh;
		padding-bottom: 3vh;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 12px;
		line-height: 1.5;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.description-block p{
		padding-top: 1vh;
		padding-bottom: 3vh;
		text-align: center;
		margin: 0 auto;
	}
}
.description-block button{
	color: #ffffff;
	border: 5px solid #ffffff;
	background-color: #191919;
	font-size: 20px;
	font-weight: 300;
	padding: 10px 25px;
}
@media screen and (max-width: 480px) {
	.description-block button{
		font-size: 16px;
		padding: 5px 10px;
		margin-left: 20px;
	}
}
@media screen and (min-width:481px) and (max-width: 992px) {
	.description-block button{
		font-size: 20px;
		padding: 10px 20px;
	}
}
/*///////////////////////////////////////////////////////////about-me///////////////////////////////////////////*/
.about-me-and-tracks-container{
	width: 1500px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	padding-bottom: 150px;
}
@media screen and (min-width:1px) and (max-width: 1201px) {
	.about-me-and-tracks-container{
		width: 100%;
	}
}
.photo-and-desc-about-me{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
@media screen and (min-width:1px) and (max-width: 992px) {
	.photo-and-desc-about-me{
		display: block;
	}
}
.photo-and-desc-about-me > h3{
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 35px;
	font-weight: 400;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	.photo-and-desc-about-me > h3{
		padding-top: 50px;
		padding-bottom: 25px;
		font-size: 25px;
	}
}
.heading-blocks{
	padding-top: 150px;
	padding-bottom: 50px;
	text-align: center;
	color: #ffffff;
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	.heading-blocks{
		padding-top: 70px;
		padding-bottom: 25px;
		font-size: 30px;
	}
}
.about-me-photo img{
	max-width: 600px;
	height: auto;
}
@media screen and (max-width: 480px) {
	.about-me-photo img{
		max-width: 350px;
	}
}
@media screen and (min-width:481px) and (max-width: 1201px) {
	.about-me-photo img{
		max-width: 550px;
	}
}
@media screen and (min-width:768px) and (max-width: 992px) {
	.about-me-photo{
		text-align: center;
	}
}
.about-me-desc{
	padding-top: 80px;
	padding-left: 150px;
	max-width: 650px;
}
@media screen and (max-width: 480px) {
	.about-me-desc{
		padding-left: 20px;
		padding-right: 20px;
		max-width: 350px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.about-me-desc{
		padding-left: 30px;
		padding-right: 30px;
		max-width: 550px;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.about-me-desc{
		text-align: center;
		margin: 0 auto;
		padding-left: 30px;
		padding-right: 30px;
		max-width: 550px;
	}
}
.about-me-desc h3{
	color: #ffffff;
	font-size: 36px;
	font-weight: 400;
}
@media screen and (max-width: 480px) {
	.about-me-desc h3{
		font-size: 30px;
	}
}
.about-me-desc p{
	margin-top: 50px;
	margin-bottom: 60px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}
@media screen and (max-width: 480px) {
	.about-me-desc p{
		line-height: 1.4;
		font-size: 12px;
	}
}
.about-me-desc span{
	color: #d8d8d8;
	font-size: 30px;
	font-weight: 400;
}
@media screen and (max-width: 480px) {
	.about-me-desc span{
		font-size: 20px;
	}
}
.about-me-desc i{
	color: #ffffff;
}
/*///////////////////////////////////////////////////////////tracks///////////////////////////////////////////*/
.tracks-bg{
	position: relative;
}
.tracks-bg img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 1;
	max-width: 100%;
	height: auto;
	opacity: 0.17;
	overflow: hidden;
}
.flex-tracks{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.track{
	position: relative;
	width: 33%;
	height: 60px;
	background-color: #d8d8d8;
	margin-bottom: 80px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.track{
		width: 95%;
		margin-bottom: 40px;
	}
}
.track:nth-child(odd){
	margin-right: 100px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.track:nth-child(odd){
		margin-right: 0;
	}
}
.track h6{
	position: absolute;
	left: 85px;
	top: 1px;
	color: #1d1d1d;
	font-size: 18px;
	font-weight: 400;
}
.nav-track{
	font-size: 16px;
	color: #000000;
}
.play-pause-btn{
	position: absolute;
	z-index: 5;
	left: 15px;
	bottom: 10px;
}
.reply-star-btn{
	position: absolute;
	z-index: 5;
	right: 15px;
	bottom: 10px;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 10%;
  height: 2px;
  cursor: pointer;
  background: #1d1d1d;
  border-radius: 1.3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  margin-top: -7%;
  border-radius: 55px;
  background: #1d1d1d;
  cursor: pointer;
}
.track__change-volume{
	position: absolute;
	z-index: 5;
	right: 10px;
	top: 10px;
}
.track hr {
	position: absolute;
	left: 85px;
	bottom: 5px;
	width: 65%;
	z-index: 1;
    border: none;
    background-color: #1d1d1d; 
    color: #1d1d1d;
    height: 2px;
}
@media screen and (max-width: 480px) {
	.track hr {
		width: 45%;
	}
}
@media screen and (min-width:769px) and (max-width: 992px) {
	.track hr {
		width: 45%;
	}
}
.time-track{
	color: #000000;
	font-size: 12px;
	font-weight: 400;
}
.start-timeline{
	position: absolute;
	left: 95px;
	bottom: 15px;
	z-index: 1;
}
.end-timeline{
	position: absolute;
	right: 90px;
	bottom: 15px;
	z-index: 1;
}
#more-tracks-youtube{
	position: relative;
	z-index: 5;
	text-align: center;
	padding-bottom: 10px;
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	#more-tracks-youtube{
		font-size: 18px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	#more-tracks-youtube{
		font-size: 25px;
	}
}
/*///////////////////////////////////////////////////////////tours///////////////////////////////////////////*/
.tours-bg{
	position: relative;
	padding-bottom: 90px;
}
.tours-bg img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 1;
	max-width: 100%;
	height: auto;
	opacity: 0.17;
	overflow: hidden;
}
.tours-and-contact-me-container{
	width: 780px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.tours-and-contact-me-container{
		width: 100%;
	}
}
.tour{
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 70px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.tour {
		display: block;
		text-align: center;
	}
}
.tour:last-child{
	margin-bottom: 90px;
}
.tour span{
	color: #ffffff;
	font-size: 30px;
	font-weight: 400;
	padding-right: 35px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.tour span{
		padding-right: 0;
	}
}
@media screen and (max-width: 480px) {
	.tour span{
		font-size: 16px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.tour span{
		font-size: 35px;
	}
}
.tour p{
	max-width: 380px;
	color: #ffffff;
	font-size: 25px;
	font-weight: 500;
	padding-right: 80px;
}
@media screen and (min-width:1px) and (max-width: 768px) {
	.tour p{
		max-width: 90%;
		padding: 20px 0px;
		margin: 0 auto;
	}
}
@media screen and (max-width: 480px) {
	.tour p{
		font-size: 18px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.tour p{
		font-size: 22px;
	}
}
.tour button{
	max-height: 60px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 40px;
	border: 2px solid #ffffff;
	border-radius: 5px;
	background-color: rgba(255,255,255, 0);
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.tour button{
		font-size: 25px;
	}
}
#view-all-tours{
	text-align: center;
	color: #ffffff;
	font-size: 28px;
	font-weight: 500;
	line-height: 55px;
	text-decoration: underline;
	text-transform: uppercase;
}
@media screen and (max-width: 480px) {
	#view-all-tours{
		font-size: 20px;
		line-height: 1;
	}
}
/*///////////////////////////////////////////////////////////contact-me///////////////////////////////////////////*/
.contact-me-bg{
	position: relative;
	padding-bottom: 150px;
}
.contact-me-bg img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 1;
	max-width: 100%;
	height: auto;
	opacity: 0.17;
	overflow: hidden;
}
.contact-me-form{
	text-align: center;
}
.contact-me-form input{
	display: block;
	margin: 0 auto;
	width: 90%;
	background-color: rgba(255,255,255, 0);
	border-radius: 5px;
	border: 5px solid #ffffff;
	margin-bottom: 45px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
}
@media screen and (max-width: 480px) {
	.contact-me-form input{
		width: 80%;
	}
}
.contact-me-form textarea{
	display: block;
	margin: 0 auto;
	width: 90%;
	resize: none;
	height: 250px;
	background-color: rgba(255,255,255, 0);
	border-radius: 5px;
	border: 5px solid #ffffff;
	margin-bottom: 45px;
}
@media screen and (max-width: 480px) {
	.contact-me-form textarea{
		width: 80%;
		height: 150px;
	}
}
.contact-me-form button{
	color: #000000;
	background-color: #e5e2e2;
	border: none;
	font-size: 25px;
	padding: 5px 50px;
	font-weight: 400;
	letter-spacing: -0.3px;
}
.social-icons-contact-me i{
	color: #ffffff;
	font-size: 35px;
	font-weight: 400;
	padding: 0px 40px;
}
@media screen and (max-width: 480px) {
	.social-icons-contact-me i{
		font-size: 30px;
		padding: 20px 40px;
	}
}
@media screen and (min-width:481px) and (max-width: 768px) {
	.social-icons-contact-me i{
		display: none;
	}
}
.contact-me-form input::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.contact-me-form input::-moz-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.contact-me-form input:-ms-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.contact-me-form input::-ms-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.contact-me-form input::placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
}
.contact-me-form textarea::-webkit-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.contact-me-form textarea::-moz-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.contact-me-form textarea:-ms-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.contact-me-form textarea::-ms-input-placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
.contact-me-form textarea::placeholder{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
}
#copyright{
	margin: 0;
	padding-bottom: 20px;
	position: relative;
	z-index: 2555555;
	opacity: 0.1;
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
}